<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Community Board</title>
  <link rel="stylesheet" href="/public/css/sitestyles.css">
  <link rel="stylesheet" href="/public/css/eventsPage.css">
  <link rel="stylesheet" href="/public/css/eventDetails.css">
  <link rel="stylesheet" href="/public/css/eventForm.css">
</head>
<body {{#if user}}class="{{user.themePreference.backgroundColor}}-{{user.themePreference.fontColor}}"{{/if}}>
  {{{body}}}
  <script src="/public/js/form_validate.js"></script>
</body>
</html>
