<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Friends</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>
