<h1 class="title">Login</h1>

<form id="login-form">
    <label for="username">Username</label><br />
    <input type="text" id="username" name="username"><br />
    <label for="password">Password</label><br />
    <input type="text" id="password" name="password"><br />
    <br /><input type="submit" value="Login">
</form>

<h3>Don't have an account?</h3>
<a href="/signup">Sign up here!</a><br />
<a href="/">Return to homepage</a>