<h1 class="title">Sign Up</h1>

<form id="signup-form">
    <label for="username">Username</label><br />
    <input type="text" id="username" name="username"><br />
    <label for="password">Password</label><br />
    <input type="text" id="password" name="password"><br />
    <br /><input type="submit" value="Sign up">
</form>

<h3>Already have an account?</h3>
<a href="/login">Log in here!</a><br />
<a href="/">Return to homepage</a>