<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css">
    <title>{{title}}</title>
</head>

<body>
    <main class="profile-main">
        <section id="profile-color" class="welcome-note">
            <h1 class="privateText">Welcome {{{username}}}</h1>
    
            <h1><a href="/events_feed">Events</a></h1>
            <h1><a href="/friends/feed">Friends</a></h1>
            <h1><a href="/profile/settings">Settings</a> </h1>
    
            <h1><a href="/logout">Log Out</a></h1>
        </section>
    
    </main>
</body>

</html>