<main class="profile-main">
    <section class="welcome-note">
        <h1 class="privateText">Welcome {{{username}}}</h1>
        
            <h1><a href="/events_feed">Events</a></h1>
            <h1><a href="/friends/feed">Friends</a></h1>
            
       
        <h1><a href="/logout">Log Out</a></h1>
    </section> 
    
</main>